body {
  font-family: aglet-mono, mono, monospace;
}

body, html {
  height: 100%;
  width: 100%;
   background-image: url(../public/images/pixel-bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   overflow: hidden;
}

@media (max-width: 600px) {
  .html, body {
    padding:20px;
  }
}
