.WeatherInfo{
  font-family: aglet-mono, mono, monospace;
}

.Weather {
  color:rgb(70, 69, 69);
  padding: 20px;
  margin:10px auto;
  border-radius: 4px;
  font-family: aglet-mono, mono, monospace;
}

.Weather h1 {
  color: #080808;
  font-size: 30px;
  font-weight: 200;
  line-height: 28px;
  margin:30px 0 0 0;
}

.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  list-style: none;
  margin-top: 5px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather canvas {
  margin: 10px auto;
  
}
.Weather .temperature {
  font-weight:bold;
  color: rgb(33, 33, 33);
  font-size:50px;
  font-weight:400;
  position: relative;
  bottom: 35px;
  
}

.Weather .unit {
  color:rgb(33,33,33);
  font-size:16px;
  font-weight:400;
  position: relative;
  bottom: 60px;
  line-height: 1;
  margin-left: 5px;
}

.WeatherTemperature {
  position: relative;
  left: 70px;
  bottom: 45px;
}

.WeatherTemperature a {
  text-decoration: none;
}

.WeatherForecast{
  background-color: rgba(192, 240, 240, 0.856);
  padding:15px;
  border-radius: 20px;
}

.WeatherForecastDay {
    color: #080808;
font-weight:200;
font-size: 18px;
}

.weather-extra li{
  line-height: 30px;
}

