

.WeatherInfo{
  font-family: aglet-mono, mono, monospace;
}

.Weather {
  color:rgb(70, 69, 69);
  padding: 20px;
  margin:10px auto;
  border-radius: 4px;
  font-family: aglet-mono, mono, monospace;
}

.Weather h1 {
  font-family: 'Press Start 2P', cursive;
  color: #080808;
  font-size: 25px;
  line-height: 28px;
  margin:30px 0 10px 0;
}

.Weather li {
  font-size: 18px;
  line-height: 18px;
  list-style: none;
  margin-top: 12px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather canvas {
  margin: 10px auto;
  
}
.Weather .temperature {
  font-weight:bold;
  color: rgb(33, 33, 33);
  font-size:50px;
  font-weight:400;
  position: relative;
  bottom: 35px;
  
}

.Weather .unit {
  color:rgb(33,33,33);
  font-size:16px;
  font-weight:400;
  position: relative;
  bottom: 60px;
  line-height: 1;
  margin-left: 5px;
}

.WeatherTemperature {
  position: relative;
  left: 70px;
  bottom: 45px;
}

.WeatherTemperature a {
  text-decoration: none;
}

.WeatherForecast{
  background-color: rgba(192, 240, 240, 0.856);
  padding:15px;
  border-radius: 20px;
}

.WeatherForecastDay {
    color: #080808;
 font-family: 'Press Start 2P', cursive;
font-size: 12px;
}

.weather-extra li{
  line-height: 30px;
}

.weather-extra span {
 font-family: 'Press Start 2P', cursive;
font-size: 12px;
color: #080808;
}

.drop, .wind {
color: #080808;
}

.current-location-btn {
  position: relative;
  right: 50px;
}

.search-btn, .current-location-btn {
  border-radius: 5px;
  position: relative;
  top: 5px;
}

.date {
  font-size: 18px;
}

.weather-description {
   font-family: 'Press Start 2P', cursive;
   font-size: 12px;
   position: relative;
   top: 20px;
   right: 50px;
}